@model List<ContatoMoldel>
@{
    ViewData["Title"] = "Listagem de contatos";
}



<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-success" asp-controller="contatos" asp-action="Criar">Adicionar</a>
    </div>
    <br/>

    @if (TempData["messagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="fechar">x</button>
            @TempData["messagemSucesso"]
        </div>
    }
    @if (TempData["messagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="fechar">x</button>
            @TempData["messagemErro"]
        </div>
    }
    <br/>
    <h1 class="display-4">Listagem de contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if(Model != null && Model.Any()){
                foreach (ContatoMoldel contato in Model)
                {

                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contatos" asp-action="Editar">editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contatos" asp-action="ApagarConfirmacao">apagar</a>
                            </div>
                        </td>
                    </tr>

                }
            }
           

        </tbody>
    </table>

</div>
